* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(36, 41, 67);
}
/* image de fond */
header {
  background-image: url('./assets/img/chemin.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
/* film opaque sur le header */
#opaque {
  background-color: rgba(14, 11, 67, 0.75);
}
#menu {
  position: absolute;
  position: sticky;
  top: 0;
}
#menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu li {
  display: flex;
}
#logo {
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.3rem;
  color: white;
}
#logo strong {
  padding: 0.3rem;
  margin-right: 1em;
  background-color: white;
  color: rgb(0, 0, 0);
}
#logo span {
  display: none;
}
#menu__text {
  color: white;
  text-decoration: none;
  padding-right: 0.5rem;
}
#logo:hover,
#menu__text:hover,
#reset:hover {
  color: turquoise;
}
#logo:hover strong,
#submit:hover {
  background-color: turquoise;
}
/* tentative de grid dans le header */
#intro {
  padding: 8rem 0 4rem 0;
  margin: 0 2rem;
  display: grid;
  grid-template-rows: 2.5rem 6rem 2rem;
}
#intro1 {
  font-size: 1.5rem;
  grid-row: 1;
  border-bottom: 1px solid white;
}
#intro2 {
  grid-row: 2;
  align-self: center;
}
#getstarted,
#learn_more {
  grid-row: 3;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 0.3rem 0.5rem;
}
#getstarted:hover,
#learn_more:hover {
  color: #40e0d0;
  border: 1px solid turquoise;
}
/* mise en place de la fleche blanche */
#getstarted::after {
  padding-left: 0.5em;
  content: url(./assets/img/right-arrow.png);
}
/* mise en place de la fleche turquoise pendant le survol */
#getstarted:hover::after {
  content: url(./assets/img/arrow_turquoise.png);
}
/* Grille pour les projets */
#container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 20em);
}
#container article {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
#container a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
#container article::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition: 1s;
}
#container article:hover::before {
  background-color: rgba(255, 255, 255, 0);
}

/* grille dans chaque projet */
#container div {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 40%;
  grid-template-rows: 1fr 2rem 3rem 1fr;
  z-index: 1;
}
#container div h2 {
  font-size: 1.2rem;
  grid-row: 2;
  grid-column: 2;
  border-bottom: 1px solid white;
}
#container div p {
  grid-row: 3;
  grid-column: 2;
  align-self: center;
  font-size: 0.7rem;
}
/* personnalisation du projet 1 */
#container1 {
  grid-row: 1;
  background-image: url(./assets/img/athena.jpg);
}
#container1::before {
  background-color: rgba(111, 195, 223, 0.75);
}

/* personnalisation du projet 2 */
#container2 {
  grid-row: 2;
  background-image: url(./assets/img/New-york.jpg);
}
#container2::before {
  background-color: rgba(141, 130, 196, 0.75);
}
/* personnalisation du projet 3 */
#container3 {
  grid-row: 3;
  background-image: url(./assets/img/sommet.jpg);
}
#container3::before {
  background-color: rgba(236, 141, 129, 0.75);
}
/* personnalisation du projet 4 */
#container4 {
  grid-row: 4;
  background-image: url(./assets/img/loup.jpg);
}
#container4::before {
  background-color: rgba(231, 183, 136, 0.75);
}
/* personnalisation du projet 5 */
#container5 {
  grid-row: 5;
  background-image: url(./assets/img/escalators.jpg);
}
#container5::before {
  background-color: rgba(142, 169, 232, 0.75);
}
/* personnalisation du projet 6 */
#container6 {
  grid-row: 6;
  background-image: url(./assets/img/photographe.jpg);
}
#container6::before {
  background-color: rgba(135, 197, 164, 0.75);
}
/* Texte de fin avant contact */
#containerfin {
  color: white;
  background-color: rgb(42, 47, 74);
}
#containerfin__intro {
  padding: 3rem 0 1rem 0;
  margin: 0 2rem;
  display: grid;
  grid-template-rows: 2.5rem 15rem 2rem;
}
/* partie formulaire contact */
#form {
  padding: 3rem 1.5rem 1rem 1.5rem;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: 2rem 2.75rem 2rem 2.75rem 2rem 1fr 3.75rem;
}
#form label {
  align-self: center;
}
#name,
#email,
#message {
  background-color: rgb(42, 47, 74);
  padding: 0 1rem;
  color: white;
  border: none;
  outline: 0;
}
#message,
#action {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#name:focus,
#email:focus,
#message:focus {
  border: 1px solid turquoise;
}
#submit {
  width: max-content;
  padding: 0 1rem;
  height: 2.75rem;
  border: none;
  outline: none;
}
#reset {
  width: max-content;
  padding: 0 1rem;
  height: 2.75rem;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}
#reset:hover {
  border: 1px solid turquoise;
}
/* partie coordonnées */
#courriel,
#tel,
#adresse {
  padding: 3rem 1.5rem 1rem 1.5rem;
  color: white;
  display: grid;
  grid-template-rows: 3rem max-content;
  grid-template-columns: 2.5rem 1fr;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.p,
#mail {
  grid-column: 2;
  grid-row: 2;
}
#mail {
  width: max-content;
  text-decoration-line: none;
  color: white;
  border-bottom: 1px dotted;
}
#mail:hover {
  color: turquoise;
  border-bottom: 1px solid transparent;
}
#courriel i,
#tel i,
#adresse i {
  font-size: 1.3rem;
  align-self: center;
}
.h3 {
  align-self: center;
}
/* debut du footer */
#footer {
  font-size: 0.8rem;
  padding: 3rem 1.5rem 1rem 1.5rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}
#icons a {
  text-decoration: none;
  color: inherit;
}
#icons i {
  font-size: 1rem;
  padding-right: 1rem;
}
#icons i:hover {
  color: turquoise;
}
#footer p {
  color: rgba(255, 255, 255, 0.1);
}
#design,
#demo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}
#design:hover,
#demo:hover {
  color: turquoise;
  border-bottom: 1px solid transparent;
}
/* landing page */
#header__landing {
  background-image: url('./assets/img/New-york.jpg');
}
#opaque__landing {
  background-color: rgba(141, 130, 196, 0.75);
}
#strong__landing {
  padding: 0.3rem;
  margin-right: 1em;
  background-color: white;
  color: rgba(141, 130, 196, 0.75);
}
#intro__landing {
  padding: 6rem 0 2rem 0;
  margin: 0 2rem;
  display: grid;
  grid-template-rows: 2.5rem 6rem 2rem;
}
#container__landing {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 25em);
}
.landing__lien {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
#landing1,
#landing2,
#landing3 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#landing1 {
  background-image: url('./assets/img/homme_nuage.jpg');
}
#landing2 {
  background-image: url('./assets/img/ordinateur_table_bois.jpg');
}
#landing3 {
  background-image: url('./assets/img/cabane.jpg');
}
/* generic page */
#header__generic {
  background-image: none;
  background-color: rgb(42, 47, 74);
  position: sticky;
  top: 0;
}
#containerfin hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#generic {
  padding: 3rem 0 1rem 0;
  margin: 0 2rem;
  display: grid;
  grid-template-rows: 2.5rem 10rem repeat(3, max-content);
  gap: 1.5rem;
}
#generic__photo {
  background-image: url('./assets/img/photographe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* media queries pour le responsive  */
/* ecran au dessus de 480px */
@media only screen and (min-width: 481px) {
  #logo span {
    display: inline;
  }
  #intro {
    padding: 6rem 0 2rem 0;
  }
  #container {
    grid-template-rows: repeat(3, 16rem);
    grid-template-columns: repeat(2, 50%);
  }
  #container1 {
    grid-row: 1;
    grid-column: 1;
  }
  #container2 {
    grid-row: 1;
    grid-column: 2;
  }
  #container3 {
    grid-row: 2;
    grid-column: 1;
  }
  #container4 {
    grid-row: 2;
    grid-column: 2;
  }
  #container5 {
    grid-row: 3;
    grid-column: 1;
  }
  #container6 {
    grid-row: 3;
    grid-column: 2;
  }
  #form {
    grid-template: 2rem 2.75rem 2rem 1fr 3.75rem / 1fr 1fr;
    column-gap: 1rem;
  }
  #label__name {
    grid-row: 1;
    grid-column: 1;
  }
  #name {
    grid-row: 2;
    grid-column: 1;
  }
  #label__email {
    grid-row: 1;
    grid-column: 2;
  }
  #email {
    grid-row: 2;
    grid-column: 2;
  }
  #label__message {
    grid-area: 3 / 1 / 4 / 3;
  }
  #message {
    grid-area: 4 / 1 / 5 / 3;
  }
  #action {
    grid-area: 5 / 1 / 6 / 3;
  }
}
/* ecran au dessus de 737px */
@media only screen and (min-width: 737px) {
  header {
    height: 75vh;
  }
  #opaque,
  #opaque__landing,
  #intro__landing,
  #intro {
    height: 100%;
  }
  #intro {
    grid-template: 1fr auto auto 1fr / 60% 40%;
    padding: 0;
  }
  #intro #intro1 {
    grid-area: 2/1/3/3;
    font-size: 3.25rem;
  }
  #intro #intro2,#intro__landing #intro2  {
    grid-row: 3;
  }
  #intro #getstarted {
    grid-row: 3;
    grid-column: 2;
  }
  #intro #intro2,
  #intro #getstarted, #intro__landing #intro2 {
    margin: 2rem 0;
  }
  #container {
    grid-template-rows: repeat(3, 30vh);
  }
  #container div{
    grid-template-rows: 1fr 3rem 3rem 1fr;
  }
  #container div h2{
    font-size: 1.75rem;
  }
  #containerfin__intro #intro1, #container div h2{
    font-size: 1.75rem;
  }
  #containerfin__intro #intro2, #container p, #generic p{
    letter-spacing: 1px;
    line-height: 1.6;
  }
  #header__landing {
    height: 35rem;
  }
  #intro__landing {
    grid-template-rows: 1fr auto auto 1fr;
    padding: 0;
  }
  #intro__landing #intro1 {
    grid-row: 2;
    font-size: 3.25rem;
  }
  #header__generic{
    height: auto;
  }
  #generic h2{
    font-size: 2.5rem;
    align-self: center;
  }
}
/* ecran au dessus de 980px */
@media only screen and (min-width: 981px) {
  #container {
    grid-template-rows: repeat(3, 25rem);
    grid-template-columns: 40% 1fr 40%;
  }
  #container1 {
    grid-row: 1;
    grid-column: 1;
  }
  #container2 {
    grid-row: 1;
    grid-column: 2 / span 2;
  }
  #container3 {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  #container4 {
    grid-row: 2;
    grid-column: 3;
  }
  #container5 {
    grid-row: 3;
    grid-column: 1;
  }
  #container6 {
    grid-row: 3;
    grid-column: 2 / span 2;
  }
  #contact{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 60% 40%;
  }
  #form{
    grid-area: 1/1/4/2;
  }
  #courriel{
    grid-row: 1;
    grid-column: 2;
  }
  #tel{
    grid-row: 2;
    grid-column: 2;
  }
  #adresse{
    grid-row: 3;
    grid-column: 2;
  }
  #courriel, #tel, #adresse{
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media only screen and (min-width: 1281px) {
  #container {
    grid-template-rows: repeat(3, 40rem);
  }
}
